:root {
  font-family: "Source Sans Pro", sans-serif;
}

div {
  border: 15px solid #bdc3c7;
  margin: 15px auto;
  padding: 0px 15px;
  width: 60%;
}

.date {
  color: #3498db;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: 0.9em;
}

h1 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.5em;
  color: #2c3e50;
}

hr {
  border: 0.5px solid #bdc3c7;
}

.first {
  border-left: 5px solid #bdc3c7;
  padding-left: 3px;
}
