body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto;
  border: 2px solid rgb(139, 132, 132);
  border-radius: 5px;
}

#responsive {
  width: 100%;
  height: auto;
}

h2 {
  border: 2px solid rgb(139, 132, 132);
  border-radius: 1px;
  width: 100%;
  text-align: center;
}

.score {
  font-weight: bold;
  font-size: 2rem;
}

.inlineBlock {
  display: inline-block;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

input[type='button'] {
  width: 100%;
  display: inline-block;
  color: aliceblue;
  border-radius: 5px;
  height: 30px;
  border: none;
}

.green {
  background-color: rgb(19, 216, 190);
}

.blue {
  background-color: rgb(76, 136, 206);
}

.red {
  background-color: rgb(240, 42, 118);
}

.win {
  color: green;
}

.loss {
  color: red;
}

.gray {
  background-color: gray;
}